/* body of the website */
body {
    background-image: linear-gradient(to left, #2e70b8, #407ab8);
}

/* Welcome: */
h1 {
    position: relative;
    top: -15px;
    font-size: 23px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

@keyframes user_rainbow_stroke {
    14% {color: red;}
    28% {color: orange;}
    42% {color: yellow;}
    56% {color: rgb(7, 220, 11);}
    70% {color: rgb(0, 187, 255);}
    84% {color: rgb(166, 0, 255);}
    100% {color: rgb(228, 74, 228);}

}

#user {
    animation-name: user_rainbow_stroke;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/* links at the top of the site */
a {
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* login position */
#login {
    position: absolute;
    top: 5px;
    right: 70px;
}

/* logout position */
#logout {
    position: absolute;
    top: 5px;
    right: 70px;
}

#register {
    position: absolute;
    top: 5px;
    right: 10px;
}

/* Send text to server */
h2 {
    position: relative;
    top: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 24.5px;

}

/* Send text to server button */
#text_send {
    cursor: pointer;
}

/* Do not click the button */
h3 {
    font-size: 20px;
    position: relative;
    top: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* Do not click the button button */
#bad_button { 
    cursor: pointer;
}

h4 {
    position: relative;
    top: 35px;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#test_button {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.article_div {
    background: #2c65a2;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.article_title {
    position: relative;
    left: 3px;
}

.article_user {
    position: absolute;
    right: 12px;
}

.article_link {
    position: relative;
    bottom: 1px;
    left: 4px;
    font-size: 22px;
}

.del_article {

}

#login_real_text {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#pass_real_text {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#register_user_text {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#register_pass_text {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#navbar {
    background: #00000075;
    width: 999999px;
    height: 30px;
    border: #407ab8;
    border-style: solid;
    position: absolute;
    top: -5px;
    left: -5px;
}

#article_button {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    left: 101px;
    top: 242px;
}

#article_title {
    position: absolute;
    top: 242px;
    left: 200px;
}

#article_link {
    position: absolute;
    top: 242px;
    left: 375px;
}

#article_submit {
    cursor: pointer;
    position: absolute;
    top: 242px;
    left: 550px;
}

#article_title_text {
    position: absolute;
    top: 222px;
    left: 240px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#article_link_text {
    position: absolute;
    top: 222px;
    left: 410px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* Tile Frenzy */
.sidebar {
  width: 400px;
  aspect-ratio: 1 / 1.5;
  border: 3px solid white;

  position: absolute;
  left: 0px;
  top: 50px;
}

.board {
  /* gpt help here to get the smaller boxes within the board */
  width: min(600px, 100%);
  aspect-ratio: 1 / 1;
  border: 3px solid black;
  padding: 0px;

  position: absolute;
  left: 410px;
  top: 50px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px;
}

#leaderboard {
    position: absolute;
    top: 0px;
}

#title_frenzy {
    position: absolute;
    top: 5px;
    left: 45%;
}

.tiles {
  border: 3px solid rgb(0, 0, 0);
  box-sizing: border-box;

  background-color: white;
}

#start_game {
    position: absolute;
    top: 25px;
    left: 362px;
}

#score_text {
    font-size: 20px;
    position: absolute;
    top: 0x;
    left: 413px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#timer_text {
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 410px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#misses_text {
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 895px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#tile_home {
    font-size: 18px;
    position: absolute;
    top: 8px;
    left: 905px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#fake_bsod_img {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 999;
}

#fake_load_gif {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
}