/* body of the website */
body {
    background-image: linear-gradient(to left, #2e70b8, #407ab8);
}

/* Welcome: */
h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

@keyframes user_rainbow_stroke {
    14% {color: red;}
    28% {color: orange;}
    42% {color: yellow;}
    56% {color: rgb(7, 220, 11);}
    70% {color: rgb(0, 187, 255);}
    84% {color: rgb(166, 0, 255);}
    100% {color: rgb(228, 74, 228);}

}

#user {
    animation-name: user_rainbow_stroke;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/* links at the top of the site */
a {
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* login position */
#login {
    position: fixed;
    top: 35px;
    right: 70px;
}

#register {
    position: fixed;
    top: 35px;
    right: 10px;
}

/* Send text to server */
h2 {
    color: white;
    text-shadow: 1px 1px 1px black;

}

/* Send text to server button */
#text_send {
    cursor: pointer;
}

/* Do not click the button */
h3 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* Do not click the button button */
#bad_button { 
    cursor: pointer;
}

h4 {
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#test_button {
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.article_div {
    background: #2c65a2;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.article_title {
    position: relative;
    left: 3px;
}

.article_user {
    position: fixed;
    right: 12px;
}

.article_link {
    position: relative;
    bottom: 1px;
    left: 4px;
    font-size: 22px;
}

#login_real_text {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#pass_real_text {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#register_user_text {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#register_pass_text {
    color: white;
    text-shadow: 1px 1px 1px black;
}