<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css' ) }}"
    />
  </head>

  <body onload="check_current_user()">
    <div id="navbar"></div>
    <h1>Welcome: <span id="user"></span></h1>

    <a id="login" href="/login">Login</a>
    <a id="register" href="/register">Register</a>
    <a id="tilefrenzy" href="/tilefrenzy">Tile Frenzy</a>

    <h2 id="h2">
      Send text to server: <input type=" " id="text_box" />
      <button id="text_send">Enter</button>
    </h2>

    <h3>
      Do not click the button:
      <button id="bad_button">Seriously DO NOT PRESS</button>
    </h3>

    <div id="upload_articles"></div>

    <h4 id="h4" hidden>Articles:</h4>
    <ul id="article_list" hidden></ul>

    <div id="test_div">
      <button id="test_button">test</button>
    </div>

    <script src="{{ url_for('static', filename='scripts.js' ) }}"></script>
  </body>
</html>
