<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link
      rel="stylesheet"
      href="/Barrett-Website-Project/static/style.css"
    />
  </head>
  <body>
    <h1>barrett stinks</h1>

    <a href="/Barrett-Website-Project/pages/login.html">Login</a>
    <a href="/Barrett-Website-Project/pages/register.html">Register</a>

    <h2>Send text to server</h2>
    <input type=" " id="text_box" /> <button id="text_send">Enter</button>

    <h3>Do not click the button</h3>

    <button id="bad_button">Seriously DO NOT PRESS</button>

    <h4>Login Here</h4>
    <div>
      <label for="login_box">Username:</label>
      <input type=" " id="login_box" />
    </div>
    <label for="password_box">Password:</label>
    <input type=" " id="password_box" />
    <button id="login_submit">Submit</button>

    <script src="/Barrett-Website-Project/static/scripts.js"></script>
  </body>
</html>