<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css' ) }}"
    />
  </head>

  <body>
    <h1>Please register here!</h1>

    <label id="register_user_text" for="register_user">Username</label>
    <input type=" " id="register_user" />

    <div></div>

    <label id="register_pass_text" for="register_pass">Password</label>
    <input type=" " id="register_pass" />

    <button id="register_submit">Submit</button>

    <a href="/">Go Home</a>

    <script src="{{ url_for('static', filename='register.js' ) }}"></script>
  </body>
</html>
