<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tile Frenzy</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css' ) }}"
    />
  </head>

  <body onload="make_tiles()">
    <h1 id="title_frenzy">Tile Frenzy</h1>
    <p id="score_text">Score: </p>

    <h2 id="leaderboard">Leaderboard</h2>
    <div id="sidebar" class="sidebar">
    </div>


    <div id="board" class="board">
    </div>

    <button id="start_game">Start</button>

    <a href="/">Go Home</a>


    <script src="{{ url_for('static', filename='tilefrenzy.js' ) }}"></script>
  </body>
</html>
